	<Reference Include="SD.LLBLGen.Pro.DQE.Spanner, Version=5.9.0.0, Culture=neutral, PublicKeyToken=ca73b74ba4e3ff27, processorArchitecture=MSIL">
		<SpecificVersion>True</SpecificVersion>
		<HintPath><[RuntimeLibraryHintPath]></HintPath>
	</Reference>