<?xml version="1.0" encoding="utf-8" ?>
<!-- Google Cloud Spanner Database driver settings. -->
<databaseDriver>
	<shortName>Google Cloud Spanner (Google Cloud Client)</shortName>
	<name>Google Cloud Spanner Driver (Google Cloud Client)</name>
	<databaseName>Google Cloud Spanner</databaseName>
	<databaseShortName>Google Cloud Spanner</databaseShortName>
	<assemblyFilename>SD.LLBLGen.Pro.DBDrivers.SpannerDBDriver.dll</assemblyFilename>
	<namespace>SD.LLBLGen.Pro.DBDrivers.Spanner</namespace>
	<className>SpannerDBDriver</className>
	<driverID>00127E43-3911-4EA5-ABFF-7456C6349261</driverID>
	<dynamicQueryEngineNamespace>SD.LLBLGen.Pro.DQE.Spanner</dynamicQueryEngineNamespace>
	<caseSensitiveElementNames>false</caseSensitiveElementNames>
	<tableOrderInCreate>1</tableOrderInCreate>
	<tableOrderInDrop>2</tableOrderInDrop>
</databaseDriver>
